{# Form Start #}
{{ form_start(articleForm) }}

    {# Render all Form Fields #}
    {# {{ form_widget(articleForm) }} #}
    {# Render individual Form Fields #}
    {{ form_row(articleForm.title, {label: 'Article Title'}) }}
    {{ form_row(articleForm.content) }}
    {% if articleForm.publishedAt is defined %}
        {{ form_row(articleForm.publishedAt) }}
    {% endif %}
    {{ form_row(articleForm.location) }}
    {% if articleForm.specificLocationName is defined %}
        {{ form_row(articleForm.specificLocationName) }}
    {% endif %}
    {{ form_row(articleForm.author) }}

    <button type="submit" class="btn btn-primary">{{ button_text }}</button>

{# Form End #}
{{ form_end(articleForm) }}